.Categorywrapper{
    /* padding: 0 10px 0 0px; */
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    /* min-width: 100%; */
}

@media (max-width: 64rem) {

    .Categorywrapper{
        grid-template-columns: repeat(2, minmax(0, 1fr));

    }  

}
@media (max-width: 790px) {

    .Categorywrapper{
        grid-template-columns: repeat(2, minmax(0, 1fr));

    }  

}
@media (max-width: 48rem) {

    .Categorywrapper{
        grid-template-columns: repeat(2, minmax(0, 1fr));
        /* padding: 0 2px; */
        margin-left: 5%;
        margin-right: 5%;

    }  

}

@media (max-width: 540px) {

    .Categorywrapper{
        grid-template-columns: repeat(1, minmax(0, 1fr));
        padding: 0 2px;
        margin-left: 5%;
        margin-right: 5%;

    }  
}
