.wrapper{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

@media (max-width: 64rem) {

    .wrapper{
        grid-template-columns: repeat(3, minmax(0, 1fr));

    }  

}

@media (max-width: 48rem) {

    .wrapper{
        grid-template-columns: repeat(2, minmax(0, 1fr));
        padding: 0 2px;

    }  

}

@media (max-width: 500px) {

    .wrapper{
        grid-template-columns: repeat(1, minmax(0, 1fr));
        width: 30rem;
        padding: 0 2px;

    }  
}
